@tailwind base;
@tailwind components;
@tailwind utilities;


.logo-img{
  filter: invert(35%) sepia(55%) saturate(500%) hue-rotate(176deg) brightness(100%) contrast(200%);
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
  }
  
  .animate-marquee {
  animation: marquee 50s linear infinite;
  }

  @keyframes marquee-left-to-right {
    from{
      transform: translateX(-50%);
    }
    to{
      transform: translateX(0);
    }
  }
  .animate-marquee-reverse {
    animation: marquee-left-to-right 50s linear infinite;
  }

  .logo-footer{
    filter: invert(200%) sepia(100%) saturate(100%) hue-rotate(176deg) brightness(100%) contrast(200%);
  }
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
    }
    
    .animate-marquee {
    animation: marquee 50s linear infinite;
    }
  
    @keyframes marquee-left-to-right {
      from{
        transform: translateX(-50%);
      }
      to{
        transform: translateX(0);
      }
    }
    .animate-marquee-reverse {
      animation: marquee-left-to-right 50s linear infinite;
    }
  
    html {
      scroll-behavior: smooth;
    }
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }
    
    .animate-scroll {
      animation: scroll 20s linear infinite;
    }
    @keyframes float {
      0%, 100% { transform: translateY(0); }
      50% { transform: translateY(-20px); }
    }
    .bg-img{
      /* animation: float 5s infinite; */
      background-image: url('./assets/Course/bg1.svg');
      background-size: cover;
      background-position: fixed;
    }
  .stack{
    z-index: 999;
  }